:root {
    --font: "Roboto", sans-serif;
    --fontOrigin: 1rem;     /* 16px */
    --fontSmall: 0.625em;   /* 10px */
    --fontMedium: 1.2em;  /* 14px */
    --fontNormal: 1em;      /* 16px */
    --fontLarge:  1.375em;  /* 22px */
    --fontLight: 100;
    --fontRegular: 400;
    --speed: 0.65s;
  }


  * {
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: url('https://w0.peakpx.com/wallpaper/814/174/HD-wallpaper-paint-acrylic-colors-texture.jpg');
    background-size: cover; 
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  }
  
  .background {
    color: rgb(119, 46, 253);
    font-size: 120%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    top: 89px;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 5px;
    
  }
   
  .card {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.349);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 16px 60px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
    font-size: var(--fontSmall);
    font-weight: var(--fontLight);
    text-align: center;
    -webkit-transition: all var(--speed) ease;
    transition: all var(--speed) ease;
    color: rgb(7, 7, 7);
    -webkit-transform: translateY(30%);
    transform: translateY(30%);
    font-size: var(--fontMedium);
    font-weight: var(--fontLight);
    background-image: url('https://w0.peakpx.com/wallpaper/814/174/HD-wallpaper-paint-acrylic-colors-texture.jpg');
    
  }
  .card2 {
    
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    background-image: url('https://w0.peakpx.com/wallpaper/814/174/HD-wallpaper-paint-acrylic-colors-texture.jpg');
   
  }
  .card2:hover{
      background-image: url('https://image.freepik.com/foto-gratis/hermosa-textura-colorida-pintura-pared-fondo-abstracto-textura-pintura-pared_24076-192.jpg');
  }
  .card2 .change:hover{
      color: rgb(32, 10, 233);
  }

  .card:hover {
    box-shadow: 0 40px 130px rgba(0, 0, 0, 0.6);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  .card .text-center2{
    border-radius: 5px;
    padding: 10px;
    text-align: center;

    background-image: url('https://w0.peakpx.com/wallpaper/814/174/HD-wallpaper-paint-acrylic-colors-texture.jpg');
   
  }
  .card .text-center2:hover{
    background-image: url('https://image.freepik.com/foto-gratis/hermosa-textura-colorida-pintura-pared-fondo-abstracto-textura-pintura-pared_24076-192.jpg');
    color: yellow;
  }


  ul{
    list-style: none;
    padding: 0;
}

li{
    padding: 10px 40px;
}

.icon{
    display: inline-block;
    width: 80px;
    text-align: center;
    
    
}

.weather-icon{
    font-size: 12.2rem;
    color: #cac7cf;
}

.temperature{
    margin-top: -3px;
    font-size: 1.4rem;
}

  .change{
    border: 0;
    border-radius: 4px;
    background: transparent;
    
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(20, 13, 13);
    padding: 10px 15px;
    margin-top: 15px;
    cursor: pointer;
    outline: 0;
}
.error-message{
    font-weight: 400;
    color: rgb(142, 173, 230);
    max-width: 500px;
    margin: 20px auto;
}

.text-center{
    text-align: center;
    color: rgb(14, 13, 13);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text-black{
    color: black;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.d-none{
    display: none;
}

/* Response */
@media(min-width: 576px){
    
    .background{
        top: 0;
    }
    .row{
        display: flex;
    }
    .col-sm-6{
        width: 45%;
        padding: 0px;
    }
    
}